.collapsiblock h2.block-title a {
  background: url(expanded.png) no-repeat right;
  display: block;
}

.collapsiblock h2.block-title {
  margin-bottom: 0px;
}

.collapsiblock-collapsed h2.block-title a {
  background: url(collapsed.png) no-repeat right;
}

.collapsiblock-collapsed .content {
display: none;
}
